
.app-loader{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-back{
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 10px;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid lightgrey;
}